@import "./mixins";
@import "./variables";

.Dashboard {
    background-color: #fbfbfb;
    width: 100vw;

    .sidebar {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        z-index: 9;

        .sidebar-head {
            @include justify-content-no-align(flex-end);
            padding: 20px;
            .close-btn {
                width: 30px;
                height: 30px;
            }
        }
        .sidebar-cont {
            height: 80%;
            @include justify-content(center);
            flex-direction: column;
            gap: 10vh 0;
            & h3 {
                color: #545f7d;
                text-decoration: underline;
                font-size: 25px;
            }
        }
    }
    .container {
        @include justify-content-no-align(space-between);
        width: 100%;
        height: 100%;

        .section1 {
            background-color: white;
            width: 15%;
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            border: 1px solid rgba(33, 63, 125, 0.06);

            .nav-top {
                font-size: clamp(10px, 1vw, 16px);
                margin-top: 139px;
                margin-bottom: 52px;
                @include alignCenterWithoutJustifyContent;
                gap: 0 10px;
                color: $textPrimaryColor;
                padding: 0 clamp(5px, 1.5vw, 30px);
            }
            & h6 {
                margin-top: 41px;
                margin-left: clamp(5px, 1.5vw, 30px);
                color: rgba(84, 95, 125, 1);
            }
            .nav-btn {
                font-size: clamp(10px, 1vw, 16px);
                cursor: pointer;
                margin-top: 10px;
                color: $textLightColor;
                padding: 10px clamp(5px, 1.5vw, 30px);
                @include alignCenterWithoutJustifyContent;
                gap: 0 10px;
                &:hover {
                    background-color: rgba(57, 205, 204, 0.06);
                    border-left: 3px solid rgba(57, 205, 204, 1);
                    color: $textPrimaryColor;
                    transition: $allTransition;
                }
            }
            .selected {
                font-size: clamp(10px, 1vw, 16px);
                cursor: pointer;
                margin-top: 10px;
                background-color: rgba(57, 205, 204, 0.06);
                border-left: 3px solid rgba(57, 205, 204, 1);
                color: $textPrimaryColor;
                padding: 10px clamp(5px, 1.5vw, 30px);
                @include alignCenterWithoutJustifyContent;
                gap: 0 10px;
            }
        }
        .section2 {
            width: 85%;

            .content {
                padding: 0 4%;

                .head {
                    margin-top: 160px;
                    font-weight: 500;
                    font-size: 24px;
                    color: $textPrimaryColor;
                }
                .hero {
                    @include justify-content(space-between);
                    gap: 0 5vw;
                    margin-top: 40px;

                    .item-cont {
                        height: 160px;
                        width: 20%;
                        background-color: white;
                        border-radius: 4px;
                        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                        border: 1px solid rgba(33, 63, 125, 0.06);
                        @include justify-content(center);

                        .item {
                            width: calc(100% - clamp(30px, 20%, 60px));
                            height: calc(100% - clamp(20px, 25%, 40px));
                            @include flex-direction(column);
                            gap: 14px 0;

                            & img {
                                flex-grow: 0;
                                width: 40px;
                                height: 40px;
                            }
                            & span {
                                color: #545f7d;
                                font-weight: 500;
                                font-size: clamp(10px, 1vw, 14px);
                            }
                            & h2 {
                                color: $textPrimaryColor;
                                font-weight: 600;
                                font-size: clamp(17px, 1.5vw, 24px);
                            }
                        }
                    }
                }
                .main {
                    margin-top: 40px;
                    height: 640px;
                    background-color: white;
                    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                    border: 1px solid rgba(33, 63, 125, 0.06);
                    border-radius: 4px;
                    @include justify-content(center);

                    .main-container {
                        width: calc(100% - clamp(30px, 4vw, 60px));
                        height: calc(100% - 60px);
                        position: relative;
                        overflow: auto;
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                        &::-webkit-scrollbar-thumb {
                            width: 3px;
                            border-radius: 2px;
                            background-color: #dcdfe8;
                        }

                        .filter-popup {
                            position: absolute;
                            width: 270px;
                            height: 100%;
                            background-color: white;
                            border: 1px solid rgba(33, 63, 125, 0.06);
                            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                            border-radius: 4px;
                            top: 60px;
                            z-index: 5;
                            @include justify-content(center);

                            .filter-content {
                                width: calc(100% - 40px);
                                height: calc(100% - 60px);
                                @include flex-direction(column);
                                justify-content: space-between;
                                gap: 20px;
                                overflow-y: auto;
                                padding-bottom: 5px;

                                &::-webkit-scrollbar {
                                    width: 2px;
                                }
                                &::-webkit-scrollbar-thumb {
                                    width: 2px;
                                    border-radius: 2px;
                                    background-color: #dcdfe8;
                                }
                                .filter-control {
                                    @include flex-direction(column);
                                    gap: 6px;
                                    & select,
                                    & input {
                                        border: 1px solid rgba(33, 63, 125, 0.2);
                                        padding: 12px 20px;
                                        border-radius: 8px;
                                    }
                                }
                                .reset-filter {
                                    @include justify-content(space-between);
                                    .reset {
                                        cursor: pointer;
                                        border: 1px solid #545f7d;
                                        background-color: transparent;
                                        padding: 11px 30px;
                                        border-radius: 8px;
                                        color: #545f7d;
                                        font-weight: 600;
                                        font-size: 14px;
                                    }
                                    .filter {
                                        cursor: pointer;
                                        border: none;
                                        padding: 11px 30px;
                                        border-radius: 8px;
                                        background-color: $defaultBlueColor;
                                        color: white;
                                        font-weight: 600;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .main-head {
                            @include justify-content(space-between);
                            gap: 0 5px;

                            & div:nth-child(1) {
                                width: 116px;
                                flex-shrink: 0;
                                @include alignCenterWithoutJustifyContent;
                                gap: 0 10px;
                                color: #545f7d;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            & div:nth-child(2) {
                                width: 116px;
                                flex-shrink: 0;
                                @include alignCenterWithoutJustifyContent;
                                gap: 0 10px;
                                color: #545f7d;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            & div:nth-child(3) {
                                width: 147px;
                                flex-shrink: 0;
                                @include alignCenterWithoutJustifyContent;
                                gap: 0 10px;
                                color: #545f7d;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            & div:nth-child(4) {
                                width: 116px;
                                flex-shrink: 0;
                                @include alignCenterWithoutJustifyContent;
                                gap: 0 10px;
                                color: #545f7d;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            & div:nth-child(5) {
                                width: 154px;
                                flex-shrink: 0;
                                @include alignCenterWithoutJustifyContent;
                                gap: 0 10px;
                                color: #545f7d;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            & div:nth-child(6) {
                                width: 100px;
                                flex-shrink: 0;
                                @include alignCenterWithoutJustifyContent;
                                gap: 0 10px;
                                color: #545f7d;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            & div:nth-child(7) {
                                width: 20px;
                                flex-shrink: 0;
                            }
                            & img {
                                cursor: pointer;
                            }
                        }
                        .main-content {
                            margin-top: 15px;
                            max-height: 90%;

                            .user {
                                @include justify-content(space-between);
                                gap: 0 5px;
                                padding: 23px 0;
                                border-bottom: 1px solid rgba(33, 63, 125, 0.1);
                                position: relative;

                                & span:nth-child(1) {
                                    flex-shrink: 0;
                                    width: 116px;
                                    color: #545f7d;
                                    font-weight: 400;
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    overflow-x: hidden;
                                }
                                & span:nth-child(2) {
                                    width: 116px;
                                    flex-shrink: 0;
                                    color: #545f7d;
                                    font-weight: 400;
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    overflow-x: hidden;
                                }
                                & span:nth-child(3) {
                                    width: 147px;
                                    flex-shrink: 0;
                                    color: #545f7d;
                                    font-weight: 400;
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    overflow-x: hidden;
                                }
                                & span:nth-child(4) {
                                    width: 116px;
                                    flex-shrink: 0;
                                    color: #545f7d;
                                    font-weight: 400;
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    overflow-x: hidden;
                                }
                                & span:nth-child(5) {
                                    width: 154px;
                                    flex-shrink: 0;
                                    color: #545f7d;
                                    font-weight: 400;
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    overflow-x: hidden;
                                }
                                .status {
                                    width: 100px;
                                    flex-shrink: 0;
                                    font-weight: 400;
                                    font-size: 14px;
                                    & span {
                                        flex: 0;
                                        border-radius: 100px;
                                        width: fit-content;
                                        padding: 7px 18px;
                                    }
                                    .Pending {
                                        background-color: rgba(
                                            233,
                                            178,
                                            0,
                                            0.1
                                        );
                                        color: #e9b200;
                                    }
                                    .Active {
                                        background-color: rgba(
                                            57,
                                            205,
                                            98,
                                            0.06
                                        );
                                        color: #39cd62;
                                    }
                                    .Blacklisted {
                                        background-color: rgba(228, 3, 59, 0.1);
                                        color: #e4033b;
                                    }
                                }
                                .options {
                                    width: 20px;
                                    flex-shrink: 0;
                                    @include justify-content-no-align(center);
                                    .icon {
                                        width: 13px;
                                        height: 13px;
                                        padding: 5px;
                                        border-radius: 50%;
                                        &:hover {
                                            cursor: pointer;
                                            background-color: #545f7d60;
                                            color: white;
                                        }
                                    }
                                }
                                .user-menu {
                                    position: absolute;
                                    top: 15%;
                                    right: 0;
                                    background-color: white;
                                    width: 180px;
                                    z-index: 5;
                                    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                                    border-radius: 4px;
                                    @include justify-content(center);
                                    .user-menu-cont {
                                        height: 100%;
                                        width: 100%;
                                        overflow: hidden;
                                        & div {
                                            @include alignCenterWithoutJustifyContent;
                                            gap: 0 10px;
                                            padding: 10px 20px;
                                            width: 100%;
                                            color: #545f7d;
                                            &:hover {
                                                cursor: pointer;
                                                background-color: #545f7d;
                                                color: white;
                                                transition: $allTransition;
                                                & span {
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .user-control {
                    @include justify-content(space-between);
                    margin-top: 20px;

                    .page-amount {
                        @include justify-content(space-between);
                        gap: 0 10px;
                        color: #545f7d;

                        & select {
                            border: none;
                            padding: 7px 12px;
                            background-color: rgba(33, 63, 125, 0.1);
                            border-radius: 4px;
                        }
                    }
                    .pagination {
                        @include justify-content(space-between);
                        gap: 0 20px;
                        color: #545f7d;

                        .paginator {
                            cursor: pointer;
                            background-color: rgba(33, 63, 125, 0.1);
                            border-radius: 4px;
                            padding: 6.4px 8.7px;
                        }
                        & span {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 769px) {
    .Dashboard {
        .sidebar {
            display: block;
        }
        .container {
            .section1 {
                display: none;
            }
            .section2 {
                width: 100%;
                padding-bottom: 20px;
                .content {
                    .hero {
                        flex-wrap: wrap;
                        gap: 5vw;
                        justify-content: center;
                        .item-cont {
                            width: 130px;
                        }
                    }
                    .user-control {
                        justify-content: center;
                        gap: 5vh;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
